* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --branco: #FFFFFF;
  --preto: #000000;
  --verde-escuro: #056939;
}

.container-grid {
    width: 80vw;
    max-width: 3000px;
    margin: 0 auto;
}

.espacoLateral {
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  background-color: var(--branco);
}

header {
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 350px;
}

.menu {
  max-width: 700px;
  width: 70%;

  display: flex;
  justify-content: space-between;
}

.menu a {
  font-size: 20px;
  color: white;
  text-decoration: underline transparent;
  text-decoration-thickness: 2px;
  /* para por tempo no sublinhar */
  transition: text-decoration 500ms ease;
}

/* para a cor sublinhar  */
.menu a:hover {
  text-decoration-color: darkgreen;
}

.banner {
  background-image: url(./imgs/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-position: 0px -250px;
}

#sobre {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sobre img {
  max-width: 460px;
  width: 40%;
  border-radius: 40px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#sobre p {
  font-size: 20px;
  text-align: justify;
  margin-top: 30px;
}

#parallax {
  height: 250px;

  /* background-image: url(./imgs/parallax.svg); */

  background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./imgs/Gemini_Generated_Image_m8k4mfm8k4mfm8k4.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 120px;
}

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
}



#servicos .card{
    width: 500px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;
    background-color: #969696;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#servicos .card h3{
    font-size: 24px;
    margin: 5px 0 30px;
    color: var(--verde-escuro);
    font-family: "Recursive", sans-linear-bold;
    text-align: center;
}

#servicos .card p{
    font-family: "Recursive", sans-linear;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#servicos .card svg{
    color: var(--verde-escuro);
    height: 100px;
}

#servicos .card:hover{
    border: solid 10px var(--verde-escuro);
}

#servicos .card:hover h3{
    color: var(--verde-escuro);
}

#servicos .card:hover svg{
    fill: var(--verde-escuro);
}

footer {
  background-image: url(./imgs/madeira\ gemini.png);
  height: 250px;


}